<section class="footer" id="footer">
  <div class="footer-content">
    <footer>
      <div class="social-media">
        <a href="#" class="social-icon" aria-label="Instagram">
          <i class="icon ion-social-instagram"></i>
        </a>
        <a href="#" class="social-icon" aria-label="Twitter">
          <i class="icon ion-social-twitter"></i>
        </a>
        <a href="#" class="social-icon" aria-label="Facebook">
          <i class="icon ion-social-facebook"></i>
        </a>
      </div>
      <hr class="footer-divider" />
      <ul class="footer-links">
        <li><a href="#benefits">Benefits</a></li>
        <li><a href="#testimonios">Resources</a></li>
        <li><a href="#">FAQ</a></li>
        <li>
          <a href="#" class="search-icon" aria-label="Search">
            <mat-icon>search</mat-icon>
          </a>
        </li>
      </ul>
      <p class="footer-copyright">© Oxalate 2024</p>
    </footer>
  </div>
</section>
