<section class="footer" id="footer">
  <div class="footer-content">
    <footer>
      <hr class="footer-divider" />
      <div class="footer-links-container">
        <ul class="footer-links">
          <li><a href="#resources">Back to Home</a></li>
          <li>
            <a class="search-icon" aria-label="Search"
              ><mat-icon (click)="search()">search</mat-icon></a
            >
          </li>
        </ul>
      </div>
      <p class="footer-text">2024 Oxalate Info.</p>
    </footer>
  </div>
</section>
