<div class="search-input-container" [ngClass]="{ 'dark-theme': isDarkTheme }">
  <input
    #searchInputElement
    [(ngModel)]="searchQuery"
    (ngModelChange)="onSearchQueryChange()"
    (keydown)="onKeyDown($event)"
    (blur)="onBlur()"
    placeholder="Search for a food or a category to see oxalate levels..."
    class="search-input"
    type="text"
    autocomplete="off"
  />
  <div class="search-icons">
    <span
      class="search-icon"
      [class.typing]="searchQuery.length > 0"
      (click)="onClearSearch()"
    >
      {{ searchQuery.length > 0 ? "❌" : "🔍" }}
    </span>
  </div>
</div>
