<section class="benefits" id="benefits">
  <h2 class="benefits-title">Benefits of Low Oxalate Intake</h2>
  <div class="benefits-content">
    <div class="benefits-item">
      <span class="material-symbols-outlined">local_hospital</span>
      <h3>Reduced Kidney Stone Risk</h3>
      <p>
        Lowering oxalate intake can prevent the formation of calcium oxalate
        stones.
      </p>
    </div>
    <div class="benefits-item">
      <span class="material-symbols-outlined">wellness</span>
      <h3>Enhanced Mineral Absorption</h3>
      <p>
        Avoiding oxalates helps improve the absorption of essential minerals
        like calcium, magnesium, and iron.
      </p>
    </div>
    <div class="benefits-item">
      <span class="material-symbols-outlined">handshake</span>
      <h3>Less Joint Pain and Inflammation</h3>
      <p>
        Reducing oxalate consumption may alleviate symptoms for those sensitive
        to oxalates.
      </p>
    </div>
  </div>
</section>
