body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  padding: 40px 5%;
  /* background-color: white; */
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  gap: 20px;
}

.header-text {
  flex: 1 1 45%;
}

.header-image {
  flex: 1 1 45%;
  text-align: right;
}

h1 {
  font-size: 2.8em;
  margin-bottom: 10px;
  color: #969696;
}

p {
  font-size: 1.1em;
  color: #969696;
  line-height: 1.6;
  margin-bottom: 20px;
}

.steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin-top: 60px;
}

.step {
  flex: 1 1 calc(33.33% - 30px);
  padding: 20px;
  border-radius: 10px;
  border-color: #969696;
  border-style: solid;
  border-width: 0.5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.step:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.step-number {
  background-color: #6bd3b3;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 1.2em;
}

.step h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #969696;
}

.step p {
  font-size: 1.05em;
  color: #969696;
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 992px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .header-text {
    padding-right: 0;
  }

  .header-image {
    text-align: center;
  }

  .step {
    flex: 1 1 calc(50% - 30px);
  }

  .get-started {
    padding: 12px 24px;
    font-size: 1em;
  }

  h1 {
    font-size: 2.2em;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 20px 5%;
  }

  .header {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  h1 {
    font-size: 1.8em;
  }

  p {
    font-size: 1em;
  }

  .get-started {
    padding: 10px 20px;
    font-size: 1em;
  }

  .steps {
    gap: 20px;
  }

  .step {
    flex: 1 1 100%;
    margin: 0;
    text-align: center;
  }

  .step-number {
    margin: 0 auto 15px auto;
  }

  .step h3 {
    font-size: 1.3em;
  }

  .step p {
    font-size: 1em;
  }

  .header-image img {
    max-width: 80%;
  }
}
