<section class="beneficios" id="beneficios">
  <h2 class="benefits-title">Benefits of Low Oxalate Intake</h2>
  <div class="benefits-content wrapper">
    <div class="benefits-benefits">
      <span class="material-symbols-outlined"> Reduced Kidney Stone Risk </span>
      <p>
        Lowering oxalate intake can prevent <br />
        the formation of calcium oxalate stones
      </p>
    </div>
    <div class="benefits-benefits">
      <span class="material-symbols-outlined">
        Enhanced Mineral Absorption
      </span>
      <p>
        Avoiding oxalates helps improve the <br />absorption of essential
        minerals like calcium, magnesium, and iron
      </p>
    </div>
    <div class="benefits-benefits">
      <span class="material-symbols-outlined">
        Less Joint Pain and Inflammation:
      </span>
      <p>
        Reducing oxalate consumption may <br />
        alleviate symptoms for those sensitive to oxalates
      </p>
    </div>
  </div>
</section>
