<section class="category-container">
  <h2 class="by-category">Browse by Category</h2>
  <div class="cards-wrapper">
    <div
      class="category-card"
      *ngFor="let card of cardsArray"
      (click)="onCardClick(card.title)"
    >
      <div class="category-badge" *ngIf="card.badge">{{ card.badge }}</div>
      <div class="category-card-content">
        <div
          class="category-icon"
          [class.svg-debug]="true"
          [innerHTML]="getSanitizedIcon(card.iconSvg)"
        ></div>
        <h3 class="category-title">{{ card.title }}</h3>
      </div>
      <div class="category-overlay">
        <div class="overlay-text">{{ card.overlayText }}</div>
      </div>
    </div>
  </div>
</section>
