<section class="cards-container">
  <div class="modern-container">
    <div class="abstract-card" (click)="onCardClick('Fruits')">
      <div class="card-content">
        <h2>01</h2>
        <p>Fruits</p>
      </div>
    </div>
    <div class="abstract-card" (click)="onCardClick('Vegetables')">
      <div class="card-content">
        <h2>02</h2>
        <p>Vegetables</p>
      </div>
    </div>
    <div
      class="abstract-card"
      (click)="onCardClick('Grains and Grain Products')"
    >
      <div class="card-content">
        <h2>03</h2>
        <p>Grains and Grain Products</p>
      </div>
    </div>
    <div class="abstract-card" (click)="onCardClick('Herbs and Spices')">
      <div class="card-content">
        <h2>04</h2>
        <p>Herbs and Spices</p>
      </div>
    </div>
    <div class="abstract-card" (click)="onCardClick('Legumes')">
      <div class="card-content">
        <h2>05</h2>
        <p>Legumes</p>
      </div>
    </div>
    <div class="abstract-card" (click)="onCardClick('Nuts and Seeds')">
      <div class="card-content">
        <h2>06</h2>
        <p>Nuts and Seeds</p>
      </div>
    </div>
  </div>
</section>
