<section class="category-container">
  <h2 class="by-category">Browse by Category</h2>
  <div class="cards-wrapper">
    <div class="category-card" (click)="onCardClick('Fruits')">
      <div class="category-badge">Popular</div>
      <div class="category-card-content">
        <div class="category-title">Fruits</div>
      </div>
      <div class="category-overlay">
        <div class="overlay-text">Explore Fruits</div>
      </div>
    </div>

    <div class="category-card" (click)="onCardClick('Vegetables')">
      <div class="category-badge">Popular</div>
      <div class="category-card-content">
        <div class="category-title">Vegetables</div>
      </div>
      <div class="category-overlay">
        <div class="overlay-text">Explore Vegetables</div>
      </div>
    </div>

    <div
      class="category-card"
      (click)="onCardClick('Grains and Grain Products')"
    >
      <div class="category-badge">Popular</div>
      <div class="category-card-content">
        <div class="category-title">Grains and Grain Products</div>
      </div>
      <div class="category-overlay">
        <div class="overlay-text">Explore Grains</div>
      </div>
    </div>

    <div class="category-card" (click)="onCardClick('Herbs and Spices')">
      <div class="category-badge">Popular</div>
      <div class="category-card-content">
        <div class="category-title">Herbs and Spices</div>
      </div>
      <div class="category-overlay">
        <div class="overlay-text">Explore Herbs</div>
      </div>
    </div>

    <div class="category-card" (click)="onCardClick('Legumes')">
      <div class="category-badge">Popular</div>
      <div class="category-card-content">
        <div class="category-title">Legumes</div>
      </div>
      <div class="category-overlay">
        <div class="overlay-text">Explore Legumes</div>
      </div>
    </div>

    <div class="category-card" (click)="onCardClick('Nuts and Seeds')">
      <div class="category-badge">Popular</div>
      <div class="category-card-content">
        <div class="category-title">Nuts and Seeds</div>
      </div>
      <div class="category-overlay">
        <div class="overlay-text">Explore Nuts</div>
      </div>
    </div>
  </div>
</section>
