.header {
  background: rgb(255, 255, 255);
  padding: 24px 0;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin-bottom: 16px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1366px;
  margin: 0 auto;
  height: 80px; /* Explicit height for the header content */
}

.material-symbols-outlined {
  font-size: 0; /* Hides the icon text */
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-link {
  color: rgb(20, 20, 20);
  font-size: 18px;
  text-decoration: none;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 8px;
}

.nav-link:hover,
.nav-link:focus {
  background: rgba(218, 218, 218, 0.515);
}

.nav-logo {
  width: 80px; /* Adjust width as needed to make the logo bigger */
  height: auto;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 24px 16px;
    position: relative;
  }

  .nav {
    display: none;
  }
}
