<header id="header" class="header">
  <div class="header-content">
    <a href="#" class="logo-container" (click)="goToLandingPage()">
      <span class="logo-text">Oxalate Info</span>
    </a>

    <button class="hamburger" (click)="toggleNav()" [class.open]="isNavOpen">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>

    <nav class="nav" id="nav-bar" [class.open]="isNavOpen">
      <button class="nav-close" (click)="closeNav()"></button>

      <a
        *ngIf="currentRoute !== '/' && currentRoute === '/oxalate'"
        href="#resources"
        class="nav-link"
        (click)="closeNav()"
        >Resources</a
      >
      <a class="nav-link" (click)="goToSupport()">Support</a>
      <button class="search-btn" (click)="search()" (click)="closeNav()">
        <mat-icon>search</mat-icon>
      </button>

      <button
        *ngIf="userProfile"
        class="profile-btn"
        (click)="goToProfile()"
        (click)="closeNav()"
      >
        <img
          [src]="
            userProfile.photoURL || '../../../assets/images/default-profile.jpg'
          "
          alt="User Image"
          class="user-image"
        />
        <span class="profile-text">My Profile</span>
      </button>

      <button
        *ngIf="!userProfile"
        class="user-icon-btn"
        (click)="goToLoginPage()"
        (click)="closeNav()"
      >
        <mat-icon>person_outline</mat-icon>
      </button>
    </nav>
  </div>
</header>
