<header id="header" class="header">
  <div class="header-content">
    <a href="#" class="logo-container" (click)="goToLandingPage()">
      <img
        src="../../../assets/app-logo/oxalate-new-logo.png"
        alt="App Logo"
        id="header-img"
        class="nav-logo"
      />
    </a>

    <button class="hamburger" (click)="toggleNav()" [class.open]="isNavOpen">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>

    <nav class="nav" id="nav-bar" [class.open]="isNavOpen">
      <a href="#benefits" class="nav-link">Benefits</a>
      <a href="#testimonios" class="nav-link">Resources</a>
      <button class="search-btn" (click)="search()">
        <mat-icon>search</mat-icon>
      </button>
      <button class="profile-btn" (click)="goToProfile()">
        <img
          *ngIf="userProfile"
          [src]="
            userProfile.photoURL || '../../../assets/images/default-profile.jpg'
          "
          alt="User Image"
          class="user-image"
        />
      </button>
    </nav>
  </div>
</header>
