.header {
  background-color: #ffffff;
  color: #474747;
  padding: 16px 20px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 60px;
  position: relative;
}

.logo-container {
  display: flex;
  align-items: center;
}

.nav-logo {
  width: 120px;
  height: auto;
  object-fit: contain;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  z-index: 2;
  position: relative;
  width: 30px;
  height: 30px;
}

.bar {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #969696;
  margin: 4px 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.hamburger.open .bar:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.nav-link {
  color: #474747;
  font-size: 16px;
  text-decoration: none;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background 0.3s ease;
}

.nav-link:hover,
.nav-link:focus {
  background: #888b90;
  color: #faf8ff;
}

.search-btn,
.profile-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #474747;
  font-size: 24px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.search-btn:hover,
.profile-btn:hover {
  color: #888b90;
  transform: scale(1.1);
}

@media screen and (max-width: 767px) {
  .header-content {
    height: 50px;
  }

  .nav-logo {
    width: 100px;
  }

  .hamburger {
    display: block;
  }

  .nav {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;
    /* padding: 10px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 999;
  }

  .nav.open {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .nav-link,
  .search-btn,
  .profile-btn {
    font-size: 14px;
    padding: 10px 16px;
  }
}
