<section class="profile-section">
  <div class="profile-container">
    <div class="profile-main">
      <div class="profile-row">
        <aside class="profile-sidebar">
          <div class="profile-card">
            <div class="profile-card-body">
              <div class="profile-info">
                <div class="profile-image-container">
                  <img
                    [src]="
                      userProfile?.photoURL ||
                      'https://banner2.cleanpng.com/20180619/tyr/aa66mfh81.webp'
                    "
                    alt="Profile Image of {{ userProfile?.displayName }}"
                    class="profile-image"
                  />
                  <label for="file-upload" class="upload-button">
                    <i class="fas fa-camera"></i>
                  </label>
                  <input
                    id="file-upload"
                    type="file"
                    (change)="onFileSelected($event)"
                    accept="image/*"
                    style="display: none"
                  />
                </div>
                <div class="profile-details">
                  <h4 class="profile-name">
                    {{ userProfile?.displayName || "Username" }}
                  </h4>
                </div>
                <nav class="profile-nav">
                  <a
                    class="nav-item"
                    [class.active]="activeSection === 'profile'"
                    (click)="showSection('profile')"
                  >
                    Profile Information
                  </a>
                  <a
                    class="nav-item"
                    [class.active]="activeSection === 'saveItem'"
                    (click)="showSection('saveItem')"
                  >
                    Save Items
                  </a>
                  <a
                    class="nav-item"
                    [class.active]="activeSection === 'address'"
                    (click)="showSection('address')"
                  >
                    Address Book
                  </a>
                  <a class="nav-item" (click)="onLogout()">Logout</a>
                </nav>
              </div>
            </div>
          </div>
        </aside>
        <div class="profile-content">
          <div *ngIf="activeSection === 'profile'" class="profile-details-card">
            <div class="card-body">
              <h5 class="card-title">Profile Information</h5>
              <p>
                <strong>Name:</strong>
                {{ userProfile?.displayName || "Username" }}
              </p>
              <p>
                <strong>Email Address:</strong>
                {{ userProfile?.email || "username@gmail.com" }}
              </p>
              <p>
                <strong>Password:</strong>
                <button (click)="toggleChangePassword()" class="change-pass">
                  Change Password
                </button>
              </p>
            </div>
          </div>
          <app-change-password
            *ngIf="isChangePasswordVisible"
            (close)="toggleChangePassword()"
          ></app-change-password>
          <app-save-items *ngIf="activeSection === 'saveItem'"></app-save-items>
        </div>
      </div>
    </div>
  </div>
</section>
