* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.profile-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem 0;
  min-height: 70vh;
}

.profile-container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
}

.profile-row {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.profile-sidebar {
  flex-basis: 320px;
  padding: 0 15px;
}

.profile-card {
  /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
  box-shadow: 0 45px 65px rgba(0, 0, 0, 0.5), 0 35px 22px rgba(0, 0, 0, 0.16);
  transition: all 0.3s ease;
  padding: 2rem;
}

.profile-card:hover {
  box-shadow: 0 16px 32px rgba(112, 112, 112, 0.15);
}

.profile-image-container {
  position: relative;
  text-align: center;
}

.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 1rem;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.upload-button {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 25%;
  padding: 0.5rem;
  cursor: pointer;
  color: white;
}

.profile-details {
  margin-top: 1rem;
  color: #f5f7fa;
}

.profile-name {
  font-size: 1.5rem;
  font-weight: 600;
}

.profile-nav {
  margin-top: 2rem;
  color: #f5f7fa;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav-item {
  text-align: center;
  padding: 1rem;

  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s;
}

.nav-item:hover,
.nav-item.active {
  background-color: #e77f67;
  color: white;
  border-radius: 15px;
}

.profile-content {
  flex: 1;
  padding: 1rem 15px;
  color: #f5f7fa;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
}
.card-body {
  padding: 1rem 15px;
}
.card-body p {
  margin: 5px;
}

.card-title {
  font-size: 2rem;
}

.change-pass {
  background: none;
  margin-left: 5px;
  color: #f5f7fa;
  border: none;
  cursor: pointer;
  font-weight: 600;
  text-decoration: underline;
}

.change-pass:hover {
  color: #e77f67;
}

@media (max-width: 992px) {
  .profile-row {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .profile-image {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 576px) {
  .profile-nav {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .nav-item {
    flex: 1 1 48%;
  }
}
