<main>
  <section class="hero">
    <div class="hero-content">
      <div class="hero-img">
        <img
          class="hero-image"
          src="../../assets/app-logo/landing-logo1.png"
          alt="Oxalate Home Preview"
        />
      </div>
      <div class="hero-text">
        <h2>What are Oxalates?</h2>
        <p>
          Oxalates in food are naturally occurring compounds found in many
          plants. They can accumulate in the body, causing health problems. They
          are most well known for causing kidney stones, but can cause a myriad
          of other potential issues.
        </p>
      </div>
    </div>
  </section>
  <section>
    <app-resources></app-resources>
  </section>
  <section>
    <app-managing-oxalate></app-managing-oxalate>
  </section>
  <section>
    <app-footer></app-footer>
  </section>
</main>
