<div class="hero">
  <div class="hero-content wrapper">
    <div class="hero-details">
      <h1 class="hero-title">Build Your <br />Oxalates Habits</h1>
    </div>
    <div class="hero-img">
      <img
        class="hero-image"
        src="../../assets/app-logo/oxalate-home-preview.png"
        alt="Oxalate Home Preview"
      />
    </div>
  </div>
</div>
<main>
  <section class="we">
    <div class="we-content">
      <h2>What is Oxalate in food about?</h2>
      <p>
        Oxalates in food are naturally occurring compounds found in many plants.
        They are a type of organic acid that can bind with minerals like
        calcium, forming calcium oxalate. This compound is not easily absorbed
        by the body and can accumulate in the kidneys, potentially leading to
        the formation of kidney stones.
      </p>
    </div>
  </section>
  <section class="beneficios" id="beneficios">
    <h2 class="beneficios-title">Benefits of Low Oxalate Intake</h2>
    <div class="beneficios-content wrapper">
      <div class="beneficios-beneficio">
        <span class="material-symbols-outlined">
          Reduced Kidney Stone Risk
        </span>
        <p>
          Lowering oxalate intake can prevent <br />
          the formation of calcium oxalate stones
        </p>
      </div>
      <div class="beneficios-beneficio">
        <span class="material-symbols-outlined">
          Enhanced Mineral Absorption
        </span>
        <p>
          Avoiding oxalates helps improve the <br />absorption of essential
          minerals like calcium, magnesium, and iron
        </p>
      </div>
      <div class="beneficios-beneficio">
        <span class="material-symbols-outlined">
          Less Joint Pain and Inflammation:
        </span>
        <p>
          Reducing oxalate consumption may <br />
          alleviate symptoms for those sensitive to oxalates
        </p>
      </div>
    </div>
  </section>
  <section class="testimonios" id="testimonios">
    <h2 class="testimonios-title">Resources</h2>
    <div class="testimonios-content wrapper">
      <div class="testimonio" *ngFor="let resource of foodResources">
        <div class="testimonio-header">
          <img
            [src]="resource.image"
            alt="{{ resource.name }}"
            class="testimonio-image"
          />
          <h4>{{ resource.name }}</h4>
        </div>
        <p class="testimonio-text">{{ resource.description }}</p>
        <p><a [href]="resource.link" target="_blank">Learn more</a></p>
      </div>
    </div>
  </section>
  <section class="use">
    <h2>¿Cómo usar el Serum Antiedad?</h2>
    <div class="use-content">
      <div class="video">
        <iframe
          id="video"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/5oqxg7woNLs?si=yq8Dssyx4N1qOfLE"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </section>
  <section class="buy" id="comprar">
    <div class="buy-content wrapper">
      <h2>Want to get recommendations?</h2>
      <p>Compra Ahora y obtén un 10% de descuento en tu primera compra.</p>
      <form
        class="form"
        action="https://www.freecodecamp.com/email-submit"
        id="form"
        method="post"
      >
        <input
          name="email"
          type="email"
          id="email"
          placeholder="Ingresa tu email"
          required
        />
        <input type="submit" value="Enviar" id="submit" />
      </form>
    </div>
  </section>
</main>
