<div class="hero">
  <div class="hero-content wrapper">
    <div class="hero-details">
      <h1 class="hero-title">Build Your Oxalates Habits. <br /></h1>
    </div>
    <div class="hero-img">
      <img
        class="hero-image"
        src="../../assets/app-logo//images_oxalate-removebg-preview.png"
        alt=""
      />
    </div>
  </div>
</div>
<main>
  <section class="we">
    <div class="we-content">
      <h2>What is Oxalate in feed about?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit distinctio
        odio sapiente? Quos esse illum dicta. Sequi nisi quidem natus eos
        officiis repudiandae, quod deserunt aperiam, mollitia nostrum sed
        soluta!
      </p>
    </div>
  </section>
  <section class="beneficios" id="beneficios">
    <h2 class="beneficios-title">Beneficios</h2>
    <div class="beneficios-content wrapper">
      <div class="beneficios-beneficio">
        <span class="material-symbols-outlined"> child_care </span>
        <p>
          Reduce las líneas de expresión y <br />
          arrugas profundas
        </p>
      </div>
      <div class="beneficios-beneficio">
        <span class="material-symbols-outlined"> star_half </span>
        <p>Mejora la luminosidad y <br />uniformidad de la piel.</p>
      </div>
      <div class="beneficios-beneficio">
        <span class="material-symbols-outlined"> water_drop </span>
        <p>
          Hidratación intensa y <br />
          duradera para una piel suave y tersa
        </p>
      </div>
    </div>
  </section>
  <section class="testimonios" id="testimonios">
    <h2 class="testimonios-title">Testimonios</h2>
    <div class="testimonios-content wrapper">
      <div class="testimonio">
        <p class="testimonio-text">
          ¡Increíble! Noté resultados visibles en solo dos semanas. Mi piel luce
          más joven y radiante
        </p>
        <p class="testimonio-autor">Ana G. de 42 años</p>
      </div>
      <div class="testimonio">
        <p class="testimonio-text">
          Lo mejor que he probado. Mi piel sensible lo ama, sin irritaciones y
          resultados asombrosos.
        </p>
        <p class="testimonio-autor">Javier M. de 35 años.</p>
      </div>
    </div>
  </section>
  <section class="use">
    <h2>¿Cómo usar el Serum Antiedad?</h2>
    <div class="use-content">
      <div class="video">
        <iframe
          id="video"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/5oqxg7woNLs?si=yq8Dssyx4N1qOfLE"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </section>
  <section class="buy" id="comprar">
    <div class="buy-content wrapper">
      <h2>¡Transforma tu piel hoy!</h2>
      <p>Compra Ahora y obtén un 10% de descuento en tu primera compra.</p>
      <form
        class="form"
        action="https://www.freecodecamp.com/email-submit"
        id="form"
        method="post"
      >
        <input
          name="email"
          type="email"
          id="email"
          placeholder="Ingresa tu email"
          required
        />
        <input type="submit" value="Enviar" id="submit" />
      </form>
    </div>
  </section>
</main>
