<div class="serving-panel">
  <div class="serving-input">
    <label>
      <i class="material-icons">balance</i>
      Serving Size
    </label>
    <input
      type="text"
      [ngModel]="servingSize"
      readonly
      placeholder="Enter serving size"
      class="input-field"
    />
  </div>

  <div class="serving-input">
    <label>
      <i class="material-icons">balance</i>
      Total Oxalate Per Serving
    </label>
    <input
      type="text"
      [ngModel]="totalOxalatePerServing"
      readonly
      class="input-field"
    />
  </div>

  <div class="serving-input">
    <label>
      <i class="material-icons">balance</i>
      Total Soluble Oxalate Per Serving
    </label>
    <input
      type="text"
      [ngModel]="totalSolubleOxalatePerServing"
      readonly
      class="input-field"
    />
  </div>

  <div class="serving-input">
    <label>
      <i class="material-icons">balance</i>
      Number of Servings
    </label>
    <input
      type="text"
      [ngModel]="numberOfServings"
      (ngModelChange)="onNumberOfServingsChange($event)"
      placeholder="Enter number of servings"
      class="input-field"
    />
  </div>
</div>
