<section class="use">
  <h2>Managing Oxalate Intake</h2>
  <div class="use-content">
    <div class="video">
      <iframe
        id="video"
        width="560"
        height="315"
        src="https://www.youtube.com/embed/5oqxg7woNLs?si=yq8Dssyx4N1qOfLE"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>
