<app-alert *ngIf="showAlert" [message]="alertMessage"></app-alert>

<div class="auth-container">
  <div class="auth-card">
    <h2 class="auth-title">{{ isSignInMode ? "Sign In" : "Sign Up" }}</h2>

    <div class="auth-form-wrapper">
      <div class="form-left">
        <form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="auth-form">
          <div class="form-group">
            <input
              type="email"
              formControlName="email"
              placeholder="Email"
              class="form-control"
            />
            <div
              *ngIf="
                authForm.get('email')?.touched && authForm.get('email')?.invalid
              "
              class="error-message"
            >
              Please enter a valid email.
            </div>
          </div>

          <div class="form-group">
            <input
              type="password"
              formControlName="password"
              placeholder="Password"
              class="form-control"
            />
            <div
              *ngIf="
                authForm.get('password')?.touched &&
                authForm.get('password')?.invalid
              "
              class="error-message"
            >
              Password is required.
            </div>
          </div>

          <div *ngIf="!isSignInMode" class="form-group">
            <input
              type="password"
              formControlName="confirmPassword"
              placeholder="Confirm Password"
              class="form-control"
            />
            <div
              *ngIf="
                authForm.get('confirmPassword')?.touched &&
                authForm.get('confirmPassword')?.invalid
              "
              class="error-message"
            >
              Confirmation password is required.
            </div>
          </div>

          <button type="submit" class="auth-button">
            {{ isSignInMode ? "Sign In" : "Sign Up" }}
          </button>

          <p class="toggle-text">
            {{
              isSignInMode
                ? "Don't have an account?"
                : "Already have an account?"
            }}
            <a (click)="toggleAuthMode()" class="toggle-link">
              {{ isSignInMode ? "Sign Up" : "Sign In" }}
            </a>
          </p>
        </form>
      </div>

      <div class="form-right">
        <div class="social-auth">
          <button class="google-button" (click)="onGoogleSignIn()">
            <img
              src="https://png.pngtree.com/png-vector/20230817/ourmid/pngtree-google-internet-icon-vector-png-image_9183287.png"
              alt="Google icon"
            />
            <span>Sign in with Google</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
